force-app/main/default/flows/Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>IsClosed_Count</name>
        <label>IsClosed Count</label>
        <locationX>135</locationX>
        <locationY>209</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mathurbhavya2612@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>mathurbhavya2612@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Closed Cases</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Count_IsClosed</name>
        <label>Count IsClosed</label>
        <locationX>129</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>CountClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RunLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_Case1</name>
        <label>Open Case</label>
        <locationX>395</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>Open_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Open</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RunLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Null</name>
        <label>Check If Null</label>
        <locationX>878</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Count_IsClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunLoop.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Case1</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Closed</name>
        <dataType>Number</dataType>
        <expression>{!CountClosed}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Open</name>
        <dataType>Number</dataType>
        <expression>{!Open_Case}+1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Flow</label>
    <loops>
        <name>RunLoop</name>
        <label>RunLoop</label>
        <locationX>439</locationX>
        <locationY>315</locationY>
        <collectionReference>Closed_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsClosed_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Closed_Records</name>
        <label>Closed Records</label>
        <locationX>829</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RunLoop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>348</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Closed_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-07</startDate>
            <startTime>01:03:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Total Closed Case = {!CountClosed}&lt;/p&gt;&lt;p&gt;Total Open Case ={!Open}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CountClosed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Open_Case</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
